<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= email.title %></title>
</head>
<body>
<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
    <tr>
        <td valign="top" style="padding:1em">
            <p>
                Hello!<br/>Here is your latest <%= email.appname %> report.
            </p>
            <% if (email.allgood) { %>
                <p style="color: #3cb371">
                Looks like everyhting went well, that's fantastic!
                </p>
            <% } else { %>
                <p style="color: #ff6347">
                    Oh no, it seems some tests failed :(
                </p>
            <% } %>
            <!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->
            <table cellpadding="0" cellspacing="0" border="0" class="result">
                <tr>
                    <% email.header.forEach(function(h){ %>
                        <td style="font-weight: bold; border-bottom: 1px solid #333; padding: .2em .5em .2em .2em;border: 1px solid #999">
                            <%= h %>
                        </td>
                    <% }) %>
                </tr>
            <% email.table.forEach(function(row){ %>
                <% if(row[4] !== 200 || !row[5]) { %>
                    <tr style="color: #fff; background: #ff6347">
                <% } else { %>
                    <tr>
                <% } %>
                <% row.forEach(function(cell){ %>
                    <td style="padding: .2em .5em .2em .2em;border: 1px solid #999"><%= cell %></td>
                <% }) %>
                </tr>
            <% }) %>
            </table>
        </td>
    </tr>
</table>
<!-- End of wrapper table -->
</body>
</html>
