<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.00000476837158, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-07-29 10:07:22 +0000</string>
	<key>Creator</key>
	<string>Massimiliano Marcon</string>
	<key>DisplayScale</key>
	<string>1 pt = 1 px</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>57</integer>
			</dict>
			<key>ID</key>
			<integer>58</integer>
			<key>Points</key>
			<array>
				<string>{108, 288}</string>
				<string>{182.57125354083061, 332.7427521244984}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{162, 333}, {72, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>57</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 /health}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{184, 360}, {32, 32}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>63</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{211, 369}, {32, 32}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>64</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{171, 369}, {32, 32}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>65</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{180, 401}, {54, 18}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.14902</string>
							<key>g</key>
							<string>0.14902</string>
							<key>r</key>
							<string>0.14902</string>
						</dict>
						<key>Font</key>
						<string>Menlo-Regular</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>66</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.14902</string>
								<key>g</key>
								<string>0.14902</string>
								<key>r</key>
								<string>0.14902</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 World}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{193, 372}, {32, 32}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>67</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{24, 360}, {54, 18}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.14902</string>
							<key>g</key>
							<string>0.14902</string>
							<key>r</key>
							<string>0.14902</string>
						</dict>
						<key>Font</key>
						<string>Menlo-Regular</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>60</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.14902</string>
								<key>g</key>
								<string>0.14902</string>
								<key>r</key>
								<string>0.14902</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 Admin}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{36, 333}, {32, 32}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>61</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>47</integer>
			</dict>
			<key>ID</key>
			<integer>50</integer>
			<key>Points</key>
			<array>
				<string>{104.85315419177451, 288.49913684035374}</string>
				<string>{107.44199555492108, 332.5008604657263}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>46</integer>
			</dict>
			<key>ID</key>
			<integer>49</integer>
			<key>Points</key>
			<array>
				<string>{86.842277794716736, 288.40436803226447}</string>
				<string>{74.339540387101437, 305.59563196773553}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 333}, {72, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>47</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 PUSHOVER}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{36, 306}, {63, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>46</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 EMAIL}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
			</dict>
			<key>ID</key>
			<integer>45</integer>
			<key>Points</key>
			<array>
				<string>{135, 261}</string>
				<string>{287.5256583300802, 311.84188611002673}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Arrow</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{288, 306}, {45, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs20 \cf2 PROBE}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{288, 198}, {45, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs20 \cf2 PROBE}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
			<key>ID</key>
			<integer>43</integer>
			<key>Points</key>
			<array>
				<string>{135, 261}</string>
				<string>{350.50705672900153, 297.59553793511344}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Arrow</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>8</integer>
			</dict>
			<key>ID</key>
			<integer>42</integer>
			<key>Points</key>
			<array>
				<string>{135, 261}</string>
				<string>{350.50008895845156, 265.06603941431041}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Arrow</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>7</integer>
			</dict>
			<key>ID</key>
			<integer>41</integer>
			<key>Points</key>
			<array>
				<string>{135.49561394325946, 261.23391814089877}</string>
				<string>{350.50438605674049, 232.56608185910127}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Arrow</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>4</integer>
			</dict>
			<key>ID</key>
			<integer>40</integer>
			<key>Points</key>
			<array>
				<string>{135, 261}</string>
				<string>{287.5187751452624, 217.98188393338751}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>Arrow</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>39</integer>
			<key>Points</key>
			<array>
				<string>{131.67990781199109, 225.38411062561067}</string>
				<string>{117, 243}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>13</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1</integer>
			</dict>
			<key>ID</key>
			<integer>38</integer>
			<key>Points</key>
			<array>
				<string>{74.339540387203471, 225.40436803226447}</string>
				<string>{86.842277795005273, 242.5956319677355}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>HeadScale</key>
					<real>1.4000000953674316</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>1.4000000953674316</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{108, 207}, {63, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>13</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 TRIGGER}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{36, 207}, {63, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 CRON}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{45, 171}, {45, 45}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>11</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{351, 288}, {45, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs20 \cf2 PROBE}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{351, 252}, {45, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs20 \cf2 PROBE}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{351, 216}, {45, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs20 \cf2 PROBE}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 243}, {63, 45}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{4, 4}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 MASTER}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{261, 189}, {162, 153}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>Shape</key>
			<string>Cloud</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.901961</string>
						<key>g</key>
						<string>0.901961</string>
						<key>r</key>
						<string>0.901961</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{18, 297}, {132, 117}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>68</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.6</string>
						<key>b</key>
						<string>0.901961</string>
						<key>g</key>
						<string>0.901961</string>
						<key>r</key>
						<string>0.901961</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{4, 4}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
					<key>Pattern</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{156, 324}, {87, 99}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.14902</string>
					<key>g</key>
					<string>0.14902</string>
					<key>r</key>
					<string>0.14902</string>
				</dict>
				<key>Font</key>
				<string>Menlo-Regular</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>69</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.36</string>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{4, 4}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.14902</string>
						<key>g</key>
						<string>0.14902</string>
						<key>r</key>
						<string>0.14902</string>
					</dict>
					<key>Pattern</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-07-29 10:23:21 +0000</string>
	<key>Modifier</key>
	<string>Massimiliano Marcon</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.00000476837158, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{398, 107}, {958, 1003}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-132, -40}, {823, 864}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
